@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Righteous&family=Urbanist:wght@500;600&display=swap');

:root {
   --inter: 'Inter', sans-serif;
   --righteous: 'Righteous', cursive;
   --urbanist: 'Urbanist', sans-serif;

   --regular: 400;
   --medium: 500;
   --semi-bold: 600;
   --bold: 700;
}

html, body {
   scrollbar-color: #C99E71 #1C1814;
   scrollbar-width: thin;
}

body {
   position: relative;
   font-family: var(--urbanist);
   font-weight: var(--medium);
   background-color: #14110E;
   color: #fff;
}

.container {
   width: 100%;
   max-width: 1170px;
   margin: 0 auto;
}

.title {
   font-size: 48px;
   line-height: 1.3;
   font-family: var(--righteous);
   font-weight: var(--regular);
}

.supertitle {
   color: #C99E71;
   font-size: 18px;
   font-weight: var(--semi-bold);
}

.text {
   opacity: 0.8;
   font-size: 18px;
   font-weight: var(--medium);
}

.button {
   border: 2px solid #C99E71;
   font-family: var(--inter);
   font-weight: var(--bold);
   font-size: 18px;
   text-transform: uppercase;
   padding: 20px 36px;
   line-height: 0.85;
   transition: all .3s linear;
   background: none;
   color: #C99E71;
}

.button:hover {
   color: #FFF;
   background-color: #C99E71;
}

/* Header */
.header {
   padding: 35px 0 35px 0;
   background-color: #1C1814;
}

.header-inner {
   width: 100%;
   max-width: 1330px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.header-navigation {
   width: 400px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-link {
   font-family: var(--inter);
   font-size: 18px;
   font-weight: var(--regular);
   transition: color .2s linear;
   color: #FFF;
}

.header-link:hover {
   color: #C99E71;
}

.header-logo {
   width: 70px;
   height: 60px;
}

.header-other {
   width: 430px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-button:first-child {
   margin-right: 40px;
}

.header-button {
   width: 30px;
   height: 30px;
   border: none;
   background: none;
   cursor: pointer;
}


/* Burder Menu */
.menu-burger-active {
   overflow: hidden;
}

.menu-burger {
   width: 100%;
   height: 100vh;
   position: fixed;
   background-color: #1C1814;
   z-index: 5;
   transition: transform .4s linear;
   transform: translateX(100%);
   padding-top: 40px;
}

.menu-active {
   transform: translateX(0);
}

.menu-buger-navigation {
   height: 100%;
   display: flex;
   flex-direction: column;
}

.menu-buger-link {
   margin-bottom: 10px;
   font-family: var(--inter);
   font-size: 35px;
   font-weight: var(--regular);
   transition: color .2s linear;
   color: #FFF;
}

.menu-buger-link:hover {
   color: #C99E71;
}

.menu-buger-button {
   margin-top: 20px;
   width: 50px;
   height: 50px;
   border: none;
   background: none;
   cursor: pointer;
}

.burger {
   top: 7px;
   right: 0;
   position: absolute;
   z-index: 10;
   display: none;
   cursor: pointer;
}

.burger-line-1,
.burger-line-2,
.burger-line-3 {
   width: 45px;
   height: 7px;
   background-color: #C99E71;
   margin: 7px 0;
   transition: 0.4s;
}

.burger-line-1,
.burger-line-2,
.burger-line-3 {
   border-radius: 25px;
}

.burger-active .burger-line-1 {
   transform: rotate(-45deg) translate(-10px, 9px);
}

.burger-active .burger-line-2 {
   opacity: 0;
}

.burger-active .burger-line-3 {
   transform: rotate(45deg) translate(-10px, -10px);
}


/* Intro */
.intro {
   background-image: url("../img/intro/background.jpg");
   background-position: bottom;
   background-size: 110%;
   background-repeat: no-repeat;
   height: 85vh;
   display: flex;
   align-items: center;
}

.intro-inner {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

.intro-info {
   width: 530px;
}

.intro-title {
   color: #fff;
   font-size: 72px;
   margin-bottom: 20px;
   font-family: var(--righteous);
   font-family: var(--regular);
   line-height: 1.3;
}

.intro-text {
   color: #fff;
   opacity: 0.8;
   font-size: 20px;
   line-height: 1.8;
   margin-bottom: 65px;
}

.intro-button {
   padding: 24px 40px;
}

.intro-play {
   width: 95px;
}

.intro-button-play {
   background: none;
   width: 70px;
   height: 70px;
   margin: 0 auto;
   border: 2px solid #FFF;
   border-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.intro-button-play::before {
   display: block;
   content: "";
   margin-left: 1px;
   width: 0;
   height: 0;
   border-left: 18px solid #fff;
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
   border-right: 0;
}

.intro-text-play {
   margin-top: 15px;
   font-family: var(--inter);
   font-weight: var(--regular);
   color: #FFF;
   text-transform: uppercase;
}


/* Process */
.process {
   margin-top: 140px;
   display: flex;
   justify-content: space-between;
}

.process-name {
   font-size: 24px;
   color: #FFF;
   font-family: var(--righteous);
   font-weight: var(--regular);
}

.process-step {
   margin-right: 15px;
   color: #C99E71;
}

.process-image {
   margin-top: 20px;
   width: 365px;
   height: 420px;
}


/* History */
.history {
   margin-top: 140px;
   display: flex;
   justify-content: space-between;
}

.history-images {
   width: 630px;
   display: flex;
   justify-content: space-between;
}

.history-image {
   width: 300px;
   height: 300px;
}

.history-image:first-child {
   margin-bottom: 30px;
}

.history-image-three {
   width: 300px;
   height: 635px;
}

.history-content {
   width: 510px;
   padding: 120px 55px;
   background-color: #1C1814;
}

.history-supertitle {
   margin-bottom: 10px;
}

.history-title {
   margin-bottom: 20px;
}


/* Product */
.product {
   margin-top: 140px;
   text-align: center;
}

.product-supertitle {
   margin-bottom: 15px;
}

.product-items {
   margin-top: 55px;
   margin-bottom: 55px;
   display: flex;
   justify-content: space-between;
}

.product-item {
   width: 365px;
   height: 580px;
   background-color: #121315;
   text-align: center;
   padding: 50px;
}

.product-photo {
   width: 270px;
   height: 345px;
   margin: 0 auto;
   margin-bottom: 35px;
}

.product-estimation {
   display: flex;
   align-items: center;
   width: 190px;
   margin: 0 auto;
   margin-bottom: 20px;
}

.product-estimation-text {
   color: #C99E71;
   text-transform: uppercase
}

.product-stars {
   margin-left: 10px;
   display: flex;
   justify-content: space-between;
   width: 115px;
}

.product-stars img {
   width: 20px;
   height: 20px;
}

.product-name {
   text-transform: uppercase;
   font-size: 24px;
   font-family: var(--righteous);
   font-weight: var(--regular);
   margin-bottom: 20px;
}

.product-prices {
   font-weight: var(--semi-bold);
   font-size: 18px;
   text-transform: uppercase;
}

.product-price {
   color: #C99E71;
}

.product-button-card {
   background-color: #C99E71;
   color: #FFF;
   padding: 10px 20px;
   margin: 0 auto;
   cursor: pointer;
   display: none;
   align-items: center;
   text-transform: none;
   font-family: var(--urbanist);
   margin-top: 20px;
}

.product-button-card img {
   width: 24px;
   height: 24px;
}

.product-button-card:hover {
   transform: scale(1.05);
}

.product-item:hover .product-estimation,
.product-item:hover .product-prices {
   display: none;
}

.product-item:hover .product-button-card {
   display: flex;
}


/* Machine */
.machine {
   margin-top: 140px;
   background-color: #1C1814;
   height: 530px;
   padding: 85px 85px 85px 170px;
   display: flex;
   justify-content: space-between;
}

.machine-image {
   width: 225px;
   height: 360px;
}

.machine-content {
   width: 535px;
}

.machine-title {
   margin-bottom: 20px;
}

.machine-text {
   text-transform: capitalize;
   margin-bottom: 20px;
}


/* Menu */
.menu {
   margin-top: 140px;
   text-align: center;
}

.menu-supertitle {
   margin-bottom: 15px;
}

.menu-products {
   margin-top: 55px;
   columns: 2;
}

.menu-product {
   position: relative;
   margin-bottom: 30px;
   display: flex;
   align-items: center;
   width: 565px;
   height: 120px;
   padding: 25px;
   border: 1px solid #32323D;
}

.menu-image {
   width: 70px;
   height: 70px;
   margin-right: 25px;
}

.menu-name {
   font-family: var(--righteous);
   font-weight: var(--regular);
   font-size: 24px;
}

.menu-price {
   position: absolute;
   right: 25px;
   text-align: end;
   font-size: 18px;
   font-weight: var(--semi-bold);
   color: #C99E71;
}


/* Customers */
.customers {
   margin-top: 140px;
}

.customers-header {
   text-align: center;
   margin-bottom: 35px;
}

.customers-supertitle {
   margin-bottom: 20px;
}

.customers-items {
   display: flex;
   justify-content: space-between;
}

.customers-item {
   width: 565px;
   height: 305px;
   padding: 40px;
   background-color: #1C1814; 
}

.customers-block {
   display: flex;
   justify-content: space-between;
}

.customers-block:last-child {
   margin-top: 30px;
   align-items: flex-end;
}

.customers-image {
   width: 130px;
   height: 150px;
}

.customers-text {
   width: 330px;
   opacity: 0.7;
   color: #fff;
   line-height: 1.8;
}

.customers-name {
   font-size: 18px;
   line-height: 1.2;
   margin-bottom: 5px;
}

.customers-job {
   opacity: 0.4;
   font-size: 14px;
   line-height: 1.8;
}

.customers-stars {
   display: flex;
   justify-content: space-between;
   width: 120px;
}

.customers-stars img {
   width: 20px;
   height: 20px;
}

.customers-footer {
   margin-top: 35px;
   display: flex;
   justify-content: space-between;
}

.customers-text-progress {
   color: #C99E71;
   font-size: 20px;
   font-weight: var(--semi-bold);
   line-height: 1.35;
   margin-bottom: 10px;
}

.customers-progress {
   display: block;
   border-radius: 50px;
   width: 120px;
   height: 4px;
   border: none;
   background-color: #2b2926;
}

.customers-progress::-webkit-progress-value {
   background-color: #C99E71;
   border-radius: 50px;
}

.customers-progress::-moz-progress-bar {
   background-color: #C99E71;
   border-radius: 50px;
}

.customers-buttons {
   width: 130px;
   display: flex;
   justify-content: space-between;
}

.customers-arrow {
   width: 56px;
   height: 56px;
   border: none;
   border-radius: 50px;
   background-size: 30%;
   background-position: center;
   background-repeat: no-repeat;
   cursor: pointer;
   transition: all .5s ease-in;
   background-color: #121315;
   background-image: url("../img/customers/arrow.png");
}

.customers-arrow:last-child {
   transform: rotate(180deg);
}

.customers-arrow:hover {
   background-color: #C99E71;
   background-image: url("../img/customers/arrow-hover.png");
}


/* Booking */
.booking {
   margin-top: 140px;
   display: flex;
   justify-content: space-between;
   background-color: #1C1814;
}

.booking-map {
   width: 585px;
   height: 650px;
}

.booking-content {
   text-align: center;
   padding: 70px 50px;
   width: 585px;
   height: 650px;
}

.booking-supertitle {
   margin-bottom: 10px;
}

.booking-title {
   margin-bottom: 55px;
}

.booking-input {
   margin-bottom: 25px;
   width: 100%;
   height: 64px;
   border: none;
   background-color: #14110E;
   color: #fff;
   padding: 15px 20px;
}

.booking-button {
   margin-top: 30px;
}


/* Testimonial */
.testimonial {
   margin-top: 140px;
   text-align: center;
}

.testimonial-supertitle {
   margin-bottom: 10px;
}

.testimonial-title {
   margin-bottom: 55px;
}

.testimonial-items {
   display: flex;
   justify-content: space-between;
}

.testimonial-item{
   text-align: start;
   width: 365px;
   height: 530px;
   background-color: #1C1814;
}

.testimonial-image {
   width: 365px;
   height: 360px;
}

.testimonial-info {
   width: 320px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}

.testimonial-author {
   color: #C99E71;
   font-size: 18px;
}

.testimonial-author-name {
   color: #fff;
}

.testimonial-date {
   font-size: 18px;
}

.testimonial-name {
   margin: 20px 22.5px;
   font-size: 20px;
   font-family: var(--righteous);
   font-weight: var(--regular);
}

.testimonial-link {
   margin-left: 22.5px;
   margin-top: 30px;
   display: flex;
   align-items: flex-end;
   color: #C99E71;
}

.testimonial-link img {
   width: 24px;
   height: 24px;
   margin-left: 10px;
}


/* Footer */
.footer {
   margin-top: 140px;
}

.footer-inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 75px;
}

.footer-logo {
   width: 72px;
   height: 60px;
}

.footer-navigation {
   width: 650px;
   display: flex;
   justify-content: space-between;
}

.footer-link {
   font-family: var(--inter);
   font-size: 20px;
   font-weight: var(--regular);
   transition: color .2s linear;
   color: #FFF;
}

.footer-link:hover {
   color: #C99E71;
}

.footer-input {
   position: relative;
   width: 330px;
   height: 72px;
}

.footer-input input{
   width: 330px;
   height: 72px;
   font-size: 16px;
   border-radius: 50px;
   border: none;
   padding-left: 20px;
   background-color: #1C1814;
   color: #fff;
}

.footer-input input::placeholder {
   color: #FFFFFF;
   opacity: 0.7;
}

.footer-button {
   position: absolute;
   right: 10px;
   top: 10px;
   transform: rotate(180deg);
   width: 56px;
   height: 56px;
   border: none;
   border-radius: 50px;
   background-size: 30%;
   background-position: center;
   background-repeat: no-repeat;
   cursor: pointer;
   transition: all .5s ease-in;
   background-color: #121315;
   background-image: url("../img/customers/arrow.png");
}

.footer-button:hover {
   background-color: #C99E71;
   background-image: url("../img/customers/arrow-hover.png");
}

.footer-company {
   background-color: #1C1814;
   height: 90px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 14px;
}